## üìå 1Ô∏è‚É£ Importa√ß√£o de bibliotecas

In [61]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import xgboost as xgb

pd.set_option('display.max_columns', None)

## üìå 2Ô∏è‚É£ Carregando os dados

In [2]:
spreadsheet_id = "1td91KoeSgXrUrCVOUkLmONG9Go3LVcXpcNEw_XrL2R0"

sheets = {
    "PEDE2022": "90992733",
    "PEDE2023": "555005642",
    "PEDE2024": "215885893"
}

def read_google_sheets(sheet_id):
  csv_url = f"https://docs.google.com/spreadsheets/d/{spreadsheet_id}/export?format=csv&gid={sheet_id}"
  return pd.read_csv(csv_url, decimal=',')

### Dados de 2022

In [3]:
df_2022 = read_google_sheets(sheets["PEDE2022"])
df_2022.head()

,RA,Fase,Turma,Nome,Ano nasc,Idade 22,G√™nero,Ano ingresso,Institui√ß√£o de ensino,Pedra 20,Pedra 21,Pedra 22,INDE 22,Cg,Cf,Ct,N¬∫ Av,Avaliador1,Rec Av1,Avaliador2,Rec Av2,Avaliador3,Rec Av3,Avaliador4,Rec Av4,IAA,IEG,IPS,Rec Psicologia,IDA,Matem,Portug,Ingl√™s,Indicado,Atingiu PV,IPV,IAN,Fase ideal,Defas,Destaque IEG,Destaque IDA,Destaque IPV
0,RA-1,7,A,Aluno-1,2003,19,Menina,2016,Escola P√∫blica,Ametista,Ametista,Quartzo,5.783,753.0,18,10,4,Avaliador-5,Mantido na Fase atual,Avaliador-27,Promovido de Fase + Bolsa,Avaliador-28,Promovido de Fase,Avaliador-31,Mantido na Fase atual,8.3,4.1,5.6,Requer avalia√ß√£o,4.0,2.7,3.5,6.0,Sim,N√£o,7.278,5.0,Fase 8 (Universit√°rios),-1,Melhorar: Melhorar a sua entrega de li√ß√µes de ...,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Melhorar: Integrar-se mais aos Princ√≠pios Pass...
1,RA-2,7,A,Aluno-2,2005,17,Menina,2017,Rede Decis√£o,Ametista,Ametista,Ametista,7.055,469.0,8,3,4,Avaliador-5,Promovido de Fase,Avaliador-27,Promovido de Fase + Bolsa,Avaliador-28,Promovido de Fase,Avaliador-31,Promovido de Fase + Bolsa,8.8,5.2,6.3,Sem limita√ß√µes,6.8,6.3,4.5,9.7,N√£o,N√£o,6.778,10.0,Fase 7 (3¬∫ EM),0,Melhorar: Melhorar a sua entrega de li√ß√µes de ...,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Melhorar: Integrar-se mais aos Princ√≠pios Pass...
2,RA-3,7,A,Aluno-3,2005,17,Menina,2016,Rede Decis√£o,Ametista,Ametista,√Ågata,6.591,629.0,13,6,4,Avaliador-5,Promovido de Fase,Avaliador-27,Promovido de Fase + Bolsa,Avaliador-28,Promovido de Fase + Bolsa,Avaliador-31,Promovido de Fase + Bolsa,0.0,7.9,5.6,Sem limita√ß√µes,5.6,5.8,4.0,6.9,N√£o,N√£o,7.556,10.0,Fase 7 (3¬∫ EM),0,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...
3,RA-4,7,A,Aluno-4,2005,17,Menino,2017,Rede Decis√£o,Ametista,Ametista,Quartzo,5.951,731.0,15,7,4,Avaliador-5,Promovido de Fase,Avaliador-27,Mantido na Fase atual,Avaliador-28,Mantido na Fase atual,Avaliador-31,Mantido na Fase atual,8.8,4.5,5.6,Requer avalia√ß√£o,5.0,2.8,3.5,8.7,N√£o,N√£o,5.278,10.0,Fase 7 (3¬∫ EM),0,Melhorar: Melhorar a sua entrega de li√ß√µes de ...,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Melhorar: Integrar-se mais aos Princ√≠pios Pass...
4,RA-5,7,A,Aluno-5,2005,17,Menina,2016,Rede Decis√£o,Ametista,Ametista,Ametista,7.427,344.0,6,2,4,Avaliador-5,Promovido de Fase,Avaliador-27,Promovido de Fase + Bolsa,Avaliador-28,Promovido de Fase + Bolsa,Avaliador-31,Promovido de Fase + Bolsa,7.9,8.6,5.6,Requer avalia√ß√£o,5.2,7.0,2.9,5.7,N√£o,N√£o,7.389,10.0,Fase 7 (3¬∫ EM),0,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Melhorar: Integrar-se mais aos Princ√≠pios Pass...

In [4]:
df_2022.shape

(860, 42)

In [5]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     860 non-null    object
 1   Fase                   860 non-null    int64
 2   Turma                  860 non-null    object
 3   Nome                   860 non-null    object
 4   Ano nasc               860 non-null    int64
 5   Idade 22               860 non-null    int64
 6   G√™nero                 860 non-null    object
 7   Ano ingresso           860 non-null    int64
 8   Institui√ß√£o de ensino  860 non-null    object
 9   Pedra 20               323 non-null    object
 10  Pedra 21               462 non-null    object
 11  Pedra 22               860 non-null    object
 12  INDE 22                860 non-null    float64
 13  Cg                     860 non-null    float64
 14  Cf                     860 non-null    int64
 15  Ct                     860 non-null    int64
 16  N¬∫ Av                  860 non-null    int64
 17  Avaliador1             860 non-null    object
 18  Rec Av1                860 non-null    object
 19  Avaliador2             860 non-null    object
 20  Rec Av2                860 non-null    object
 21  Avaliador3             534 non-null    object
 22  Rec Av3                860 non-null    object
 23  Avaliador4             310 non-null    object
 24  Rec Av4                296 non-null    object
 25  IAA                    860 non-null    float64
 26  IEG                    860 non-null    float64
 27  IPS                    860 non-null    float64
 28  Rec Psicologia         860 non-null    object
 29  IDA                    860 non-null    float64
 30  Matem                  858 non-null    float64
 31  Portug                 858 non-null    float64
 32  Ingl√™s                 283 non-null    float64
 33  Indicado               860 non-null    object
 34  Atingiu PV             860 non-null    object
 35  IPV                    860 non-null    float64
 36  IAN                    860 non-null    float64
 37  Fase ideal             860 non-null    object
 38  Defas                  860 non-null    int64
 39  Destaque IEG           860 non-null    object
 40  Destaque IDA           860 non-null    object
 41  Destaque IPV           860 non-null    object
dtypes: float64(11), int64(8), object(23)
memory usage: 282.3+ KB

In [6]:
df_2022.describe()

,Fase,Ano nasc,Idade 22,Ano ingresso,INDE 22,Cg,Cf,Ct,N¬∫ Av,IAA,IEG,IPS,IDA,Matem,Portug,Ingl√™s,IPV,IAN,Defas
count,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,860.000000,858.000000,858.000000,283.000000,860.000000,860.000000,860.000000
mean,2.098837,2009.861628,12.138372,2020.496512,7.036176,430.516279,75.519767,6.598837,3.054651,8.274419,7.891163,6.905000,6.092907,5.806876,6.320979,5.881272,7.253642,6.424419,-0.943023
std,1.788789,2.771998,2.771998,1.790217,1.017773,248.432761,52.312670,3.975858,0.775371,2.064935,1.638340,1.070707,2.046209,2.414215,2.080364,2.957315,1.093383,2.389609,0.845593
min,0.000000,2001.000000,7.000000,2016.000000,3.032000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,2.500000,0.000000,0.000000,0.000000,0.000000,2.500000,2.500000,-5.000000
25%,1.000000,2008.000000,10.000000,2019.000000,6.485500,215.750000,30.000000,3.000000,2.000000,7.900000,7.000000,6.300000,4.800000,4.300000,5.200000,3.500000,6.722000,5.000000,-1.000000
50%,2.000000,2010.000000,12.000000,2021.000000,7.197000,430.500000,67.000000,6.000000,3.000000,8.800000,8.300000,7.500000,6.300000,6.000000,6.700000,6.300000,7.333000,5.000000,-1.000000
75%,3.000000,2012.000000,14.000000,2022.000000,7.751250,645.250000,118.000000,9.000000,4.000000,9.500000,9.100000,7.500000,7.600000,7.800000,7.800000,8.500000,7.917000,10.000000,0.000000
max,7.000000,2015.000000,21.000000,2022.000000,9.442000,862.000000,192.000000,18.000000,4.000000,10.000000,10.000000,10.000000,9.900000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000

In [7]:
for col in df_2022.columns:
    print(f"{col} NaN: {df_2022[col].isna().sum()}")
    print(f"{df_2022[col].value_counts()}")
    print()

RA NaN: 0
RA
RA-1      1
RA-566    1
RA-568    1
RA-569    1
RA-570    1
         ..
RA-290    1
RA-291    1
RA-292    1
RA-293    1
RA-860    1
Name: count, Length: 860, dtype: int64

Fase NaN: 0
Fase
1    192
0    190
2    155
3    148
4     76
5     60
7     21
6     18
Name: count, dtype: int64

Turma NaN: 0
Turma
A    107
B     78
L     76
F     70
K     62
D     49
M     47
G     40
U     38
J     38
P     33
N     32
C     29
H     25
E     23
Q     22
I     20
R     20
O     12
Y     10
Z      9
S      7
V      7
T      6
Name: count, dtype: int64

Nome NaN: 0
Nome
Aluno-1      1
Aluno-566    1
Aluno-568    1
Aluno-569    1
Aluno-570    1
            ..
Aluno-290    1
Aluno-291    1
Aluno-292    1
Aluno-293    1
Aluno-860    1
Name: count, Length: 860, dtype: int64

Ano nasc NaN: 0
Ano nasc
2012    116
2010    107
2011    102
2009    100
2013     96
2008     85
2007     63
2014     57
2006     52
2005     48
2015     14
2004     12
2003      5
2002      2
2001      1
Name: count, dtype: int64

Idade 22 NaN: 0
Idade 22
10    116
12    107
11    102
13    100
9      96
14     85
15     63
8      57
16     52
17     48
7      14
18     12
19      5
20      2
21      1
Name: count, dtype: int64

G√™nero NaN: 0
G√™nero
Menina    457
Menino    403
Name: count, dtype: int64

Ano ingresso NaN: 0
Ano ingresso
2022    399
2019    139
2021    138
2018     67
2020     48
2017     40
2016     29
Name: count, dtype: int64

Institui√ß√£o de ensino NaN: 0
Institui√ß√£o de ensino
Escola P√∫blica    752
Rede Decis√£o      106
Escola JP II        2
Name: count, dtype: int64

Pedra 20 NaN: 537
Pedra 20
Ametista    182
Top√°zio      61
√Ågata        56
Quartzo      24
Name: count, dtype: int64

Pedra 21 NaN: 398
Pedra 21
Ametista    206
√Ågata       112
Top√°zio      86
Quartzo      58
Name: count, dtype: int64

Pedra 22 NaN: 0
Pedra 22
Ametista    348
√Ågata       250
Quartzo     132
Top√°zio     130
Name: count, dtype: int64

INDE 22 NaN: 0
INDE 22
7.665    3
7.591    3
7.280    3
7.619    3
7.305    3
        ..
5.063    1
5.424    1
3.700    1
4.097    1
8.325    1
Name: count, Length: 745, dtype: int64

Cg NaN: 0
Cg
753.0    1
226.0    1
385.0    1
464.0    1
755.0    1
        ..
830.0    1
107.0    1
833.0    1
831.0    1
104.0    1
Name: count, Length: 860, dtype: int64

Cf NaN: 0
Cf
18     8
10     8
8      8
5      8
4      8
      ..
160    2
180    2
174    2
191    1
192    1
Name: count, Length: 192, dtype: int64

Ct NaN: 0
Ct
3     78
2     78
1     78
4     76
5     75
6     72
7     68
8     63
9     58
10    52
11    44
12    37
13    33
14    21
15    14
16     9
17     3
18     1
Name: count, dtype: int64

N¬∫ Av NaN: 0
N¬∫ Av
3    341
4    283
2    236
Name: count, dtype: int64

Avaliador1 NaN: 0
Avaliador1
Avaliador-6     251
Avaliador-5     240
Avaliador-13    113
Avaliador-4     111
Avaliador-11     77
Avaliador-7      68
Name: count, dtype: int64

Rec Av1 NaN: 0
Rec Av1
Mantido na Fase atual        420
Promovido de Fase            290
Promovido de Fase + Bolsa    140
Mantido na Fase + Bolsa        7
N√£o avaliado                   2
Alocado em Fase anterior       1
Name: count, dtype: int64

Avaliador2 NaN: 0
Avaliador2
Avaliador-27    355
Avaliador-3     253
Avaliador-2     239
Avaliador-30     13
Name: count, dtype: int64

Rec Av2 NaN: 0
Rec Av2
Mantido na Fase atual        569
Promovido de Fase            260
Promovido de Fase + Bolsa     26
Mantido na Fase + Bolsa        3
N√£o avaliado                   2
Name: count, dtype: int64

Avaliador3 NaN: 326
Avaliador3
Avaliador-30    229
Avaliador-15    193
Avaliador-24     51
Avaliador-28     40
Avaliador-31     13
Avaliador-29      8
Name: count, dtype: int64

Rec Av3 NaN: 0
Rec Av3
Mantido na Fase atual        302
Promovido de Fase            247
N√£o avaliado                 236
Promovido de Fase + Bolsa     51
Mantido na Fase + Bolsa       18
Alocado em Fase anterior       6
Name: count, dtype: int64

Avaliador4 NaN: 550
Avaliador4
Avaliador-31    310
Name: count, dtype: int64

Rec Av4 NaN: 564
Rec Av4
Promovido de Fase + Bolsa    91
Promovido de Fase            90
Mantido na Fase atual        65
Alocado em Fase anterior     37
Mantido na Fase + Bolsa      13
Name: count, dtype: int64

IAA NaN: 0
IAA
9.5     123
9.0     119
10.0    109
8.5      79
7.9      57
8.0      49
8.3      45
9.2      43
8.8      41
0.0      39
7.5      38
7.1      22
9.6      21
6.7      13
6.9      11
7.4       9
7.0       7
6.4       6
5.4       5
5.8       5
6.8       4
8.9       4
6.3       3
3.5       2
5.0       1
4.6       1
8.4       1
7.8       1
7.3       1
5.2       1
Name: count, dtype: int64

IEG NaN: 0
IEG
9.2     36
10.0    35
9.0     35
8.8     32
9.7     32
        ..
2.8      1
3.9      1
2.7      1
0.0      1
3.1      1
Name: count, Length: 75, dtype: int64

IPS NaN: 0
IPS
7.5     501
5.6     103
5.0      87
6.9      50
6.3      45
8.1      32
4.4      19
8.8      12
9.4       7
10.0      2
3.8       1
2.5       1
Name: count, dtype: int64

Rec Psicologia NaN: 0
Rec Psicologia
N√£o atendido        406
Sem limita√ß√µes      254
Requer avalia√ß√£o    158
N√£o indicado         37
N√£o avaliado          5
Name: count, dtype: int64

IDA NaN: 0
IDA
7.3    28
6.8    25
7.8    25
6.3    23
6.5    22
       ..
1.4     1
9.9     1
1.9     1
1.6     1
1.0     1
Name: count, Length: 92, dtype: int64

Matem NaN: 2
Matem
5.0    51
6.0    43
7.0    33
8.0    33
4.7    30
       ..
9.9     1
7.6     1
6.6     1
8.6     1
7.9     1
Name: count, Length: 77, dtype: int64

Portug NaN: 2
Portug
8.0    43
7.5    41
6.5    38
7.0    36
6.0    31
       ..
1.6     1
5.1     1
1.2     1
0.7     1
8.4     1
Name: count, Length: 82, dtype: int64

Ingl√™s NaN: 577
Ingl√™s
8.5     10
5.0     10
10.0     9
9.7      9
0.0      9
        ..
9.9      1
7.9      1
9.4      1
2.9      1
8.6      1
Name: count, Length: 78, dtype: int64

Indicado NaN: 0
Indicado
N√£o    728
Sim    132
Name: count, dtype: int64

Atingiu PV NaN: 0
Atingiu PV
N√£o    747
Sim    113
Name: count, dtype: int64

IPV NaN: 0
IPV
7.500    52
7.333    30
7.417    24
7.167    21
7.917    20
         ..
7.958     1
3.917     1
8.708     1
4.958     1
2.500     1
Name: count, Length: 170, dtype: int64

IAN NaN: 0
IAN
5.0     573
10.0    259
2.5      28
Name: count, dtype: int64

Fase ideal NaN: 0
Fase ideal
Fase 2 (5¬∫ e 6¬∫ ano)       218
Fase 3 (7¬∫ e 8¬∫ ano)       207
Fase 1 (4¬∫ ano)             96
Fase 4 (9¬∫ ano)             85
ALFA  (2¬∫ e 3¬∫ ano)         71
Fase 5 (1¬∫ EM)              63
Fase 6 (2¬∫ EM)              52
Fase 7 (3¬∫ EM)              48
Fase 8 (Universit√°rios)     20
Name: count, dtype: int64

Defas NaN: 0
Defas
-1    410
 0    247
-2    163
-3     23
 1      9
-4      4
 2      3
-5      1
Name: count, dtype: int64

Destaque IEG NaN: 0
Destaque IEG
Destaque: A sua boa entrega das li√ß√µes de casa.        577
Melhorar: Melhorar a sua entrega de li√ß√µes de casa.    283
Name: count, dtype: int64

Destaque IDA NaN: 0
Destaque IDA
Melhorar: Empenhar-se mais nas aulas e avalia√ß√µes.    621
Destaque: As suas boas notas na Passos M√°gicos.       239
Name: count, dtype: int64

Destaque IPV NaN: 0
Destaque IPV
Melhorar: Integrar-se mais aos Princ√≠pios Passos M√°gicos.        483
Destaque: A sua boa integra√ß√£o aos Princ√≠pios Passos M√°gicos.    377
Name: count, dtype: int64

### Dados de 2023

In [8]:
df_2023 = read_google_sheets(sheets["PEDE2023"])
df_2023.head()

,RA,Fase,INDE 2023,Pedra 2023,Turma,Nome Anonimizado,Data de Nasc,Idade,G√™nero,Ano ingresso,Institui√ß√£o de ensino,Pedra 20,Pedra 21,Pedra 22,Pedra 23,INDE 22,INDE 23,Cg,Cf,Ct,N¬∫ Av,Avaliador1,Rec Av1,Avaliador2,Rec Av2,Avaliador3,Rec Av3,Avaliador4,Rec Av4,IAA,IEG,IPS,IPP,Rec Psicologia,IDA,Mat,Por,Ing,Indicado,Atingiu PV,IPV,IAN,Fase Ideal,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV,Destaque IPV.1
0,RA-861,ALFA,"9,31095",Top√°zio,ALFA A - G0/G1,Aluno-861,6/17/2015,8,Feminino,2023,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Avaliador-11,NaN,Avaliador-2,NaN,NaN,NaN,NaN,NaN,9.5,10.0,"8,13",8.4375,NaN,"9,6",9.8,9.4,NaN,NaN,NaN,8.920,10.0,ALFA (1¬∞ e 2¬∞ ano),0,NaN,NaN,NaN,NaN
1,RA-862,ALFA,"8,2212",Top√°zio,ALFA A - G0/G1,Aluno-862,5/31/2014,9,Masculino,2023,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Avaliador-11,NaN,Avaliador-2,NaN,NaN,NaN,NaN,NaN,8.5,9.1,"8,14",7.5000,NaN,"8,9",8.5,9.2,NaN,NaN,NaN,8.585,5.0,Fase 1 (3¬∞ e 4¬∞ ano),-1,NaN,NaN,NaN,NaN
2,RA-863,ALFA,"5,92975",Quartzo,ALFA A - G0/G1,Aluno-863,2/25/2016,7,Masculino,2023,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Avaliador-11,NaN,Avaliador-2,NaN,NaN,NaN,NaN,NaN,0.0,7.6,"3,14",5.9375,NaN,"6,3",7.0,5.5,NaN,NaN,NaN,6.260,10.0,ALFA (1¬∞ e 2¬∞ ano),0,NaN,NaN,NaN,NaN
3,RA-864,ALFA,"7,034",Ametista,ALFA A - G0/G1,Aluno-864,12/3/2015,1/7/1900,Feminino,2023,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Avaliador-11,NaN,Avaliador-2,NaN,NaN,NaN,NaN,NaN,0.0,7.6,"8,14",7.5000,NaN,"6,3",7.0,5.5,NaN,NaN,NaN,8.500,10.0,ALFA (1¬∞ e 2¬∞ ano),0,NaN,NaN,NaN,NaN
4,RA-865,ALFA,"8,1552",Top√°zio,ALFA A - G0/G1,Aluno-865,11/13/2014,8,Masculino,2023,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Avaliador-11,NaN,Avaliador-2,NaN,NaN,NaN,NaN,NaN,8.5,8.7,"7,52",7.5000,NaN,"7,4",7.3,7.5,NaN,NaN,NaN,7.915,10.0,ALFA (1¬∞ e 2¬∞ ano),0,NaN,NaN,NaN,NaN

In [9]:
df_2023.shape

(1014, 48)

In [10]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     1014 non-null   object
 1   Fase                   1014 non-null   object
 2   INDE 2023              932 non-null    object
 3   Pedra 2023             932 non-null    object
 4   Turma                  1014 non-null   object
 5   Nome Anonimizado       1014 non-null   object
 6   Data de Nasc           1014 non-null   object
 7   Idade                  1014 non-null   object
 8   G√™nero                 1014 non-null   object
 9   Ano ingresso           1014 non-null   int64
 10  Institui√ß√£o de ensino  1014 non-null   object
 11  Pedra 20               240 non-null    object
 12  Pedra 21               335 non-null    object
 13  Pedra 22               600 non-null    object
 14  Pedra 23               0 non-null      float64
 15  INDE 22                600 non-null    float64
 16  INDE 23                0 non-null      float64
 17  Cg                     0 non-null      float64
 18  Cf                     0 non-null      float64
 19  Ct                     0 non-null      float64
 20  N¬∫ Av                  938 non-null    float64
 21  Avaliador1             938 non-null    object
 22  Rec Av1                0 non-null      float64
 23  Avaliador2             938 non-null    object
 24  Rec Av2                0 non-null      float64
 25  Avaliador3             707 non-null    object
 26  Rec Av3                0 non-null      float64
 27  Avaliador4             334 non-null    object
 28  Rec Av4                0 non-null      float64
 29  IAA                    951 non-null    float64
 30  IEG                    938 non-null    float64
 31  IPS                    945 non-null    object
 32  IPP                    938 non-null    float64
 33  Rec Psicologia         0 non-null      float64
 34  IDA                    938 non-null    object
 35  Mat                    937 non-null    float64
 36  Por                    937 non-null    float64
 37  Ing                    334 non-null    float64
 38  Indicado               0 non-null      float64
 39  Atingiu PV             0 non-null      float64
 40  IPV                    938 non-null    float64
 41  IAN                    1014 non-null   float64
 42  Fase Ideal             1014 non-null   object
 43  Defasagem              1014 non-null   int64
 44  Destaque IEG           0 non-null      float64
 45  Destaque IDA           0 non-null      float64
 46  Destaque IPV           0 non-null      float64
 47  Destaque IPV.1         0 non-null      float64
dtypes: float64(26), int64(2), object(20)
memory usage: 380.4+ KB

In [11]:
df_2023.describe()

,Ano ingresso,Pedra 23,INDE 22,INDE 23,Cg,Cf,Ct,N¬∫ Av,Rec Av1,Rec Av2,Rec Av3,Rec Av4,IAA,IEG,IPP,Rec Psicologia,Mat,Por,Ing,Indicado,Atingiu PV,IPV,IAN,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV,Destaque IPV.1
count,1014.000000,0.0,600.000000,0.0,0.0,0.0,0.0,938.000000,0.0,0.0,0.0,0.0,951.000000,938.000000,938.000000,0.0,937.000000,937.000000,334.000000,0.0,0.0,938.000000,1014.000000,1014.000000,0.0,0.0,0.0,0.0
mean,2021.378698,NaN,7.262788,NaN,NaN,NaN,NaN,3.109808,NaN,NaN,NaN,NaN,6.903049,8.699041,7.562955,NaN,6.409925,6.816756,6.200299,NaN,NaN,8.027897,7.243590,-0.654832,NaN,NaN,NaN,NaN
std,1.873750,NaN,0.895774,NaN,NaN,NaN,NaN,0.768712,NaN,NaN,NaN,NaN,3.590414,1.084001,0.984239,NaN,1.819152,1.832817,2.236545,NaN,NaN,0.945427,2.539585,0.821233,NaN,NaN,NaN,NaN
min,2016.000000,NaN,3.700000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,0.000000,3.700000,3.750000,NaN,0.000000,0.000000,0.000000,NaN,NaN,3.320000,2.500000,-4.000000,NaN,NaN,NaN,NaN
25%,2021.000000,NaN,6.740250,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,6.700000,8.100000,7.083333,NaN,5.200000,5.700000,4.725000,NaN,NaN,7.462500,5.000000,-1.000000,NaN,NaN,NaN,NaN
50%,2022.000000,NaN,7.402500,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,8.500000,9.000000,7.656250,NaN,6.500000,7.000000,6.400000,NaN,NaN,8.045000,5.000000,-1.000000,NaN,NaN,NaN,NaN
75%,2023.000000,NaN,7.903500,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,9.200000,9.500000,8.125000,NaN,7.800000,8.200000,7.800000,NaN,NaN,8.668750,10.000000,0.000000,NaN,NaN,NaN,NaN
max,2023.000000,NaN,9.442000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,10.000000,10.000000,9.791667,NaN,10.000000,10.000000,10.000000,NaN,NaN,10.010000,10.000000,2.000000,NaN,NaN,NaN,NaN

In [12]:
for col in df_2023.columns:
    print(f"{col} NaN: {df_2023[col].isna().sum()}")
    print(f"{df_2023[col].value_counts()}")
    print()

RA NaN: 0
RA
RA-861     1
RA-1162    1
RA-392     1
RA-1160    1
RA-1161    1
          ..
RA-790     1
RA-663     1
RA-664     1
RA-761     1
RA-1274    1
Name: count, Length: 1014, dtype: int64

Fase NaN: 0
Fase
ALFA      231
FASE 2    200
FASE 1    173
FASE 3    132
FASE 4     94
FASE 5     65
FASE 8     63
FASE 6     33
FASE 7     23
Name: count, dtype: int64

INDE 2023 NaN: 82
INDE 2023
7,9642         3
6,78           2
8,2712         2
8,988866667    2
6,9647         2
              ..
7,219366667    1
7,776166667    1
6,7742         1
5,248666667    1
8,710333333    1
Name: count, Length: 926, dtype: int64

Pedra 2023 NaN: 82
Pedra 2023
Ametista    381
Agata       246
Top√°zio     232
Quartzo      72
#DIV/0!       1
Name: count, dtype: int64

Turma NaN: 0
Turma
8E    25
6A    21
2A    17
3L    16
8D    16
      ..
4H     6
4G     6
3A     6
3I     6
1D     5
Name: count, Length: 86, dtype: int64

Nome Anonimizado NaN: 0
Nome Anonimizado
Aluno-861     1
Aluno-1162    1
Aluno-392     1
Aluno-1160    1
Aluno-1161    1
             ..
Aluno-790     1
Aluno-663     1
Aluno-664     1
Aluno-761     1
Aluno-1274    1
Name: count, Length: 1014, dtype: int64

Data de Nasc NaN: 0
Data de Nasc
11/10/2005    3
4/30/2014     3
8/28/2012     3
7/10/2006     3
10/8/2012     3
             ..
2/4/2013      1
4/22/2013     1
7/5/2014      1
4/2/2012      1
7/10/2005     1
Name: count, Length: 909, dtype: int64

Idade NaN: 0
Idade
10           77
11           77
9            65
13           65
12           62
1/10/1900    56
8            55
14           54
1/11/1900    47
15           43
1/8/1900     43
1/13/1900    42
1/9/1900     36
16           36
1/7/1900     34
1/12/1900    30
17           25
1/14/1900    22
1/16/1900    21
1/15/1900    19
18           18
1/6/1900     14
7            13
1/17/1900    11
1/18/1900    10
1/19/1900    10
19            8
21            6
20            5
22            4
1/20/1900     3
1/25/1900     1
23            1
24            1
Name: count, dtype: int64

G√™nero NaN: 0
G√™nero
Feminino     546
Masculino    468
Name: count, dtype: int64

Ano ingresso NaN: 0
Ano ingresso
2023    369
2022    268
2021    137
2019     98
2018     46
2020     40
2017     32
2016     24
Name: count, dtype: int64

Institui√ß√£o de ensino NaN: 0
Institui√ß√£o de ensino
P√∫blica                                      809
Privada - Programa de Apadrinhamento          99
Privada *Parcerias com Bolsa 100%             60
Privada                                       28
Privada - Pagamento por *Empresa Parceira      8
Concluiu o 3¬∫ EM                               7
Nenhuma das op√ß√µes acima                       2
Privada - Programa de apadrinhamento           1
Name: count, dtype: int64

Pedra 20 NaN: 774
Pedra 20
Ametista    138
Top√°zio      54
√Ågata        38
Quartzo      10
Name: count, dtype: int64

Pedra 21 NaN: 679
Pedra 21
Ametista    164
Top√°zio      72
√Ågata        67
Quartzo      32
Name: count, dtype: int64

Pedra 22 NaN: 414
Pedra 22
Ametista    264
√Ågata       165
Top√°zio     118
Quartzo      53
Name: count, dtype: int64

Pedra 23 NaN: 1014
Series([], Name: count, dtype: int64)

INDE 22 NaN: 414
INDE 22
6.323    3
7.665    3
7.280    3
8.136    3
6.996    3
        ..
7.659    1
7.132    1
7.875    1
5.335    1
7.055    1
Name: count, Length: 531, dtype: int64

INDE 23 NaN: 1014
Series([], Name: count, dtype: int64)

Cg NaN: 1014
Series([], Name: count, dtype: int64)

Cf NaN: 1014
Series([], Name: count, dtype: int64)

Ct NaN: 1014
Series([], Name: count, dtype: int64)

N¬∫ Av NaN: 76
N¬∫ Av
3.0    373
4.0    334
2.0    231
Name: count, dtype: int64

Avaliador1 NaN: 76
Avaliador1
Avaliador-15    278
Avaliador-21    209
Avaliador-13    145
Avaliador-24     90
Avaliador-11     86
Avaliador-32     74
Avaliador-19     56
Name: count, dtype: int64

Rec Av1 NaN: 1014
Series([], Name: count, dtype: int64)

Avaliador2 NaN: 76
Avaliador2
Avaliador-5    284
Avaliador-6    226
Avaliador-3    185
Avaliador-7    100
Avaliador-4     97
Avaliador-2     46
Name: count, dtype: int64

Rec Av2 NaN: 1014
Series([], Name: count, dtype: int64)

Avaliador3 NaN: 307
Avaliador3
Avaliador-2     305
Avaliador-23    202
Avaliador-4      84
Avaliador-3      68
Avaliador-34     48
Name: count, dtype: int64

Rec Av3 NaN: 1014
Series([], Name: count, dtype: int64)

Avaliador4 NaN: 680
Avaliador4
Avaliador-8    334
Name: count, dtype: int64

Rec Av4 NaN: 1014
Series([], Name: count, dtype: int64)

IAA NaN: 63
IAA
0.0     190
9.0     113
9.5     103
10.0     92
8.5      74
7.9      46
8.8      46
9.2      41
7.5      39
8.3      36
9.6      36
8.0      33
6.7      19
7.1      15
7.4       7
6.3       7
7.0       5
7.8       5
5.8       4
6.4       4
8.4       4
6.9       4
6.8       4
7.3       4
6.2       3
5.3       3
5.4       3
4.7       3
5.7       1
1.7       1
5.1       1
4.0       1
4.6       1
5.0       1
8.9       1
4.1       1
Name: count, dtype: int64

IEG NaN: 76
IEG
9.5     56
9.8     53
9.4     47
10.0    45
9.6     45
9.2     42
9.7     40
9.1     39
9.3     37
9.9     37
9.0     36
8.8     32
8.1     32
8.6     31
8.7     30
8.5     28
8.4     27
8.3     26
8.9     23
7.9     23
8.2     20
7.5     20
7.6     17
7.7     15
7.8     13
7.2     13
8.0     12
7.3     11
7.4      9
7.0      8
6.4      7
6.8      6
7.1      6
5.6      6
6.3      6
6.7      5
6.0      4
6.9      4
6.6      4
6.5      3
6.1      2
6.2      2
5.3      2
5.2      2
4.5      2
5.4      2
4.6      1
3.7      1
4.2      1
4.9      1
5.8      1
4.7      1
4.1      1
4.8      1
Name: count, dtype: int64

IPS NaN: 69
IPS
7,52    288
2,52    258
5       101
3,77     77
6,27     38
3,14     35
6,89     33
6,26     26
5,63     24
5,02     19
4,39     10
252%      7
8,76      6
5,64      4
8,14      3
4,38      3
752%      3
3,76      2
377%      1
314%      1
8,13      1
5,01      1
7,51      1
10        1
9,38      1
689%      1
Name: count, dtype: int64

IPP NaN: 76
IPP
7.500000    131
8.125000     74
6.875000     61
8.750000     54
7.812500     50
5.625000     45
7.968750     45
7.656250     37
6.250000     33
7.187500     31
8.541667     29
8.333333     29
8.281250     27
7.343750     26
7.708333     25
8.958333     22
7.916667     21
8.593750     16
7.031250     16
7.291667     16
7.083333     15
8.437500     14
5.000000     13
6.562500      8
9.375000      8
9.166667      8
9.062500      7
6.666667      7
8.906250      6
6.718750      6
5.833333      5
6.458333      5
6.406250      5
4.375000      4
9.218750      4
5.937500      4
6.093750      3
5.312500      3
6.041667      3
9.791667      2
4.687500      2
9.583333      2
9.687500      2
5.781250      2
7.750000      1
8.250000      1
7.375000      1
8.625000      1
8.000000      1
9.531250      1
4.218750      1
5.156250      1
4.843750      1
5.416667      1
3.750000      1
7.125000      1
Name: count, dtype: int64

Rec Psicologia NaN: 1014
Series([], Name: count, dtype: int64)

IDA NaN: 76
IDA
7,3     30
6,3     30
6,5     29
6,0     27
7,9     27
        ..
9,9      1
10,0     1
0,0      1
2,9      1
2,2      1
Name: count, Length: 79, dtype: int64

Mat NaN: 77
Mat
6.0    54
5.0    53
7.0    51
6.3    43
7.3    36
       ..
1.2     1
0.5     1
1.5     1
5.4     1
8.9     1
Name: count, Length: 63, dtype: int64

Por NaN: 77
Por
7.0    41
8.0    38
7.8    37
7.5    34
7.3    33
       ..
5.4     1
1.2     1
4.9     1
5.9     1
1.8     1
Name: count, Length: 63, dtype: int64

Ing NaN: 680
Ing
6.7     17
8.3     13
9.0     12
6.2     12
7.3     11
6.3     11
5.2     11
4.5     11
5.5     10
7.8     10
7.5     10
4.8      9
7.0      9
6.0      9
8.0      9
6.5      8
7.7      7
5.0      7
4.3      7
9.7      7
8.8      7
10.0     7
2.8      7
4.7      7
5.7      6
6.8      6
7.2      6
8.5      6
9.3      6
1.3      5
2.5      5
9.5      5
4.2      4
5.8      4
2.3      4
9.2      4
2.7      4
5.3      4
3.7      4
8.7      4
3.0      3
1.2      3
1.8      3
3.5      3
8.2      3
3.8      2
3.3      2
2.2      2
4.0      2
2.0      2
0.7      1
0.0      1
3.2      1
0.5      1
Name: count, dtype: int64

Indicado NaN: 1014
Series([], Name: count, dtype: int64)

Atingiu PV NaN: 1014
Series([], Name: count, dtype: int64)

IPV NaN: 76
IPV
10.010000    26
8.670000     14
8.170000     13
9.840000     11
7.836667      9
             ..
6.712500      1
6.960000      1
7.726667      1
8.953333      1
7.632500      1
Name: count, Length: 394, dtype: int64

IAN NaN: 0
IAN
5.0     538
10.0    462
2.5      14
Name: count, dtype: int64

Fase Ideal NaN: 0
Fase Ideal
Fase 2 (5¬∞ e 6¬∞ ano)       246
Fase 3 (7¬∞ e 8¬∞ ano)       204
ALFA (1¬∞ e 2¬∞ ano)         116
Fase 1 (3¬∞ e 4¬∞ ano)       108
Fase 4 (9¬∞ ano)             96
Fase 8 (Universit√°rios)     78
Fase 5 (1¬∞ EM)              65
Fase 6 (2¬∞ EM)              55
Fase 7 (3¬∞ EM)              46
Name: count, dtype: int64

Defasagem NaN: 0
Defasagem
 0    420
-1    408
-2    130
 1     37
-3     13
 2      5
-4      1
Name: count, dtype: int64

Destaque IEG NaN: 1014
Series([], Name: count, dtype: int64)

Destaque IDA NaN: 1014
Series([], Name: count, dtype: int64)

Destaque IPV NaN: 1014
Series([], Name: count, dtype: int64)

Destaque IPV.1 NaN: 1014
Series([], Name: count, dtype: int64)

### Dados de 2024

In [13]:
df_2024 = read_google_sheets(sheets["PEDE2024"])
df_2024.head()

,RA,Fase,INDE 2024,Pedra 2024,Turma,Nome Anonimizado,Data de Nasc,Idade,G√™nero,Ano ingresso,Institui√ß√£o de ensino,Pedra 20,Pedra 21,Pedra 22,Pedra 23,INDE 22,INDE 23,Cg,Cf,Ct,N¬∫ Av,Avaliador1,Rec Av1,Avaliador2,Rec Av2,Avaliador3,Avaliador4,Avaliador5,Avaliador6,IAA,IEG,IPS,IPP,Rec Psicologia,IDA,Mat,Por,Ing,Indicado,Atingiu PV,IPV,IAN,Fase Ideal,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV,Escola,Ativo/ Inativo,Ativo/ Inativo.1
0,RA-1275,ALFA,"7,611366667",Ametista,ALFA A - G0/G1,Aluno-1275,28/07/2016,8,Masculino,2024,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Avaliador-11,NaN,Avaliador-2,NaN,Avaliador-9,NaN,NaN,NaN,10.0,8.7,6.3,5.6,NaN,"8,0",10.0,6.0,NaN,NaN,NaN,5.4,10.0,ALFA (1¬∞ e 2¬∞ ano),0,NaN,NaN,NaN,EE Ch√°cara Florida II,Cursando,Cursando
1,RA-1276,ALFA,"8,002866667",Top√°zio,ALFA A - G0/G1,Aluno-1276,16/10/2016,8,Feminino,2024,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Avaliador-11,NaN,Avaliador-2,NaN,Avaliador-9,NaN,NaN,NaN,10.0,9.3,3.8,7.5,NaN,"8,0",10.0,6.0,NaN,NaN,NaN,7.1,10.0,ALFA (1¬∞ e 2¬∞ ano),0,NaN,NaN,NaN,EE Ch√°cara Florida II,Cursando,Cursando
2,RA-1277,ALFA,"7,9522",Ametista,ALFA A - G0/G1,Aluno-1277,16/08/2016,8,Masculino,2024,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Avaliador-11,NaN,Avaliador-2,NaN,Avaliador-9,NaN,NaN,NaN,10.0,9.1,3.8,7.5,NaN,"8,0",10.0,6.0,NaN,NaN,NaN,7.0,10.0,ALFA (1¬∞ e 2¬∞ ano),0,NaN,NaN,NaN,EE Dom Pedro Villas Boas de Souza,Cursando,Cursando
3,RA-868,ALFA,"7,156366667",Ametista,ALFA A - G0/G1,Aluno-868,08/11/2015,8,Masculino,2023,P√∫blica,NaN,NaN,NaN,Top√°zio,NaN,8.63895,NaN,NaN,NaN,3,Avaliador-11,NaN,Avaliador-2,NaN,Avaliador-9,NaN,NaN,NaN,8.0,9.8,3.8,6.9,NaN,"7,0",8.0,6.0,NaN,NaN,NaN,7.2,5.0,Fase 1 (3¬∞ e 4¬∞ ano),-1,NaN,NaN,NaN,EE Ch√°cara Florida II,Cursando,Cursando
4,RA-1278,ALFA,"5,4442",Quartzo,ALFA A - G0/G1,Aluno-1278,22/03/2015,9,Masculino,2024,P√∫blica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Avaliador-11,NaN,Avaliador-2,NaN,Avaliador-9,NaN,NaN,NaN,9.0,4.2,3.8,5.0,NaN,"7,5",8.0,7.0,NaN,NaN,NaN,4.2,5.0,Fase 1 (3¬∞ e 4¬∞ ano),-1,NaN,NaN,NaN,EM Etelvina Delfim Sim√µes,Cursando,Cursando

In [14]:
df_2024.shape

(1156, 50)

In [15]:
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     1156 non-null   object
 1   Fase                   1156 non-null   object
 2   INDE 2024              1155 non-null   object
 3   Pedra 2024             1155 non-null   object
 4   Turma                  1156 non-null   object
 5   Nome Anonimizado       1156 non-null   object
 6   Data de Nasc           1156 non-null   object
 7   Idade                  1156 non-null   int64
 8   G√™nero                 1156 non-null   object
 9   Ano ingresso           1156 non-null   int64
 10  Institui√ß√£o de ensino  1155 non-null   object
 11  Pedra 20               191 non-null    object
 12  Pedra 21               264 non-null    object
 13  Pedra 22               472 non-null    object
 14  Pedra 23               690 non-null    object
 15  INDE 22                472 non-null    float64
 16  INDE 23                690 non-null    float64
 17  Cg                     0 non-null      float64
 18  Cf                     0 non-null      float64
 19  Ct                     0 non-null      float64
 20  N¬∫ Av                  1156 non-null   int64
 21  Avaliador1             1029 non-null   object
 22  Rec Av1                0 non-null      float64
 23  Avaliador2             1029 non-null   object
 24  Rec Av2                0 non-null      float64
 25  Avaliador3             793 non-null    object
 26  Avaliador4             407 non-null    object
 27  Avaliador5             148 non-null    object
 28  Avaliador6             6 non-null      object
 29  IAA                    1054 non-null   float64
 30  IEG                    1156 non-null   float64
 31  IPS                    1054 non-null   float64
 32  IPP                    1054 non-null   float64
 33  Rec Psicologia         0 non-null      float64
 34  IDA                    1156 non-null   object
 35  Mat                    1051 non-null   float64
 36  Por                    1050 non-null   float64
 37  Ing                    474 non-null    float64
 38  Indicado               0 non-null      float64
 39  Atingiu PV             0 non-null      float64
 40  IPV                    1054 non-null   float64
 41  IAN                    1156 non-null   float64
 42  Fase Ideal             1156 non-null   object
 43  Defasagem              1156 non-null   int64
 44  Destaque IEG           0 non-null      float64
 45  Destaque IDA           0 non-null      float64
 46  Destaque IPV           0 non-null      float64
 47  Escola                 1155 non-null   object
 48  Ativo/ Inativo         1156 non-null   object
 49  Ativo/ Inativo.1       1156 non-null   object
dtypes: float64(22), int64(4), object(24)
memory usage: 451.7+ KB

In [16]:
df_2024.describe()

,Idade,Ano ingresso,INDE 22,INDE 23,Cg,Cf,Ct,N¬∫ Av,Rec Av1,Rec Av2,IAA,IEG,IPS,IPP,Rec Psicologia,Mat,Por,Ing,Indicado,Atingiu PV,IPV,IAN,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV
count,1156.000000,1156.000000,472.000000,690.000000,0.0,0.0,0.0,1156.000000,0.0,0.0,1054.000000,1156.000000,1054.000000,1054.000000,0.0,1051.000000,1050.000000,474.000000,0.0,0.0,1054.000000,1156.000000,1156.000000,0.0,0.0,0.0
mean,12.987889,2022.519896,7.368292,7.455472,NaN,NaN,NaN,2.951557,NaN,NaN,8.546964,7.374654,6.829886,7.551328,NaN,6.230067,6.175905,6.595886,NaN,NaN,7.353605,7.683824,-0.409170,NaN,NaN,NaN
std,3.584699,1.204804,0.861832,0.850390,NaN,NaN,NaN,1.397985,NaN,NaN,1.494124,2.845929,1.426059,0.895209,NaN,2.777791,2.379685,2.876249,NaN,NaN,1.050284,2.504055,0.850497,NaN,NaN,NaN
min,7.000000,2021.000000,3.032000,4.406458,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,2.500000,2.500000,NaN,0.000000,0.000000,0.000000,NaN,NaN,2.900000,2.500000,-3.000000,NaN,NaN,NaN
25%,10.000000,2021.000000,6.891000,6.862402,NaN,NaN,NaN,2.000000,NaN,NaN,8.000000,6.500000,6.300000,7.200000,NaN,4.500000,5.000000,5.000000,NaN,NaN,6.800000,5.000000,-1.000000,NaN,NaN,NaN
50%,12.000000,2023.000000,7.475500,7.559046,NaN,NaN,NaN,3.000000,NaN,NaN,8.800000,8.300000,7.500000,7.500000,NaN,6.500000,6.500000,7.000000,NaN,NaN,7.500000,10.000000,0.000000,NaN,NaN,NaN
75%,15.000000,2024.000000,7.981250,8.048758,NaN,NaN,NaN,4.000000,NaN,NaN,9.500000,9.400000,7.500000,8.100000,NaN,8.500000,8.000000,9.000000,NaN,NaN,8.100000,10.000000,0.000000,NaN,NaN,NaN
max,27.000000,2024.000000,9.442000,9.371200,NaN,NaN,NaN,6.000000,NaN,NaN,10.000000,10.000000,10.000000,10.000000,NaN,10.000000,10.000000,10.000000,NaN,NaN,9.800000,10.000000,3.000000,NaN,NaN,NaN

In [17]:
for col in df_2024.columns:
    print(f"{col} NaN: {df_2024[col].isna().sum()}")
    print(f"{df_2024[col].value_counts()}")
    print()

RA NaN: 0
RA
RA-1275    1
RA-1545    1
RA-670     1
RA-1557    1
RA-1134    1
          ..
RA-1048    1
RA-1075    1
RA-821     1
RA-521     1
RA-1661    1
Name: count, Length: 1156, dtype: int64

Fase NaN: 0
Fase
ALFA    196
9        38
7E       25
8E       23
4M       18
       ...
2C        8
5G        6
4R        6
4H        4
8A        2
Name: count, Length: 72, dtype: int64

INDE 2024 NaN: 1
INDE 2024
#DIV/0!        63
INCLUIR        38
7,8262          2
8,3792          2
8,185838803     1
               ..
8,119860173     1
7,466126407     1
6,287171862     1
8,2432          1
6,380227911     1
Name: count, Length: 1054, dtype: int64

Pedra 2024 NaN: 1
Pedra 2024
Ametista    391
Top√°zio     326
Agata       225
Quartzo     112
#DIV/0!      63
INCLUIR      38
Name: count, dtype: int64

Turma NaN: 0
Turma
9                 38
7E                25
8E                23
4M                18
4B                17
                  ..
ALFA C - G0/G1     6
ALFA F - G0/G1     5
ALFA A - G0/G1     5
4H                 4
8A                 2
Name: count, Length: 92, dtype: int64

Nome Anonimizado NaN: 0
Nome Anonimizado
Aluno-1275    1
Aluno-1545    1
Aluno-670     1
Aluno-1557    1
Aluno-1134    1
             ..
Aluno-1048    1
Aluno-1075    1
Aluno-821     1
Aluno-521     1
Aluno-1661    1
Name: count, Length: 1156, dtype: int64

Data de Nasc NaN: 0
Data de Nasc
28/06/2010    3
04/12/2015    3
30/09/2014    3
02/08/2012    3
30/04/2014    3
             ..
22/02/2012    1
15/04/2013    1
05/12/2011    1
25/04/2013    1
29/01/2003    1
Name: count, Length: 1006, dtype: int64

Idade NaN: 0
Idade
12    148
11    132
10    128
13    103
9     102
15     98
14     97
16     80
8      68
17     59
18     26
21     25
7      20
19     20
20     20
22     17
23      9
24      2
27      1
25      1
Name: count, dtype: int64

G√™nero NaN: 0
G√™nero
Feminino     623
Masculino    533
Name: count, dtype: int64

Ano ingresso NaN: 0
Ano ingresso
2024    349
2021    345
2023    248
2022    214
Name: count, dtype: int64

Institui√ß√£o de ensino NaN: 1
Institui√ß√£o de ensino
P√∫blica                                      913
Privada - Programa de Apadrinhamento          95
Privada                                       76
Privada *Parcerias com Bolsa 100%             41
Bolsista Universit√°rio *Formado (a)           13
Privada - Pagamento por *Empresa Parceira      9
Concluiu o 3¬∫ EM                               7
Privada - Programa de apadrinhamento           1
Name: count, dtype: int64

Pedra 20 NaN: 965
Pedra 20
Ametista    112
Top√°zio      49
√Ågata        23
Quartzo       7
Name: count, dtype: int64

Pedra 21 NaN: 892
Pedra 21
Ametista    130
Top√°zio      67
√Ågata        52
Quartzo      15
Name: count, dtype: int64

Pedra 22 NaN: 684
Pedra 22
Ametista    218
√Ågata       117
Top√°zio     106
Quartzo      31
Name: count, dtype: int64

Pedra 23 NaN: 466
Pedra 23
Ametista    308
Top√°zio     187
Agata       153
Quartzo      42
Name: count, dtype: int64

INDE 22 NaN: 684
INDE 22
7.280    3
8.136    3
6.323    3
7.665    3
8.121    2
        ..
6.407    1
7.791    1
8.179    1
8.110    1
6.033    1
Name: count, Length: 423, dtype: int64

INDE 23 NaN: 466
INDE 23
7.964200    3
6.780000    2
8.988867    2
6.964700    2
6.607533    1
           ..
7.029700    1
6.609700    1
6.774200    1
7.152700    1
8.710333    1
Name: count, Length: 685, dtype: int64

Cg NaN: 1156
Series([], Name: count, dtype: int64)

Cf NaN: 1156
Series([], Name: count, dtype: int64)

Ct NaN: 1156
Series([], Name: count, dtype: int64)

N¬∫ Av NaN: 0
N¬∫ Av
3    386
4    259
2    236
5    142
0    127
6      6
Name: count, dtype: int64

Avaliador1 NaN: 127
Avaliador1
Avaliador-21    190
Avaliador-3     157
Avaliador-23    136
Avaliador-19    111
Avaliador-20     99
Avaliador-22     62
Avaliador-15     53
Avaliador-16     53
Avaliador-12     47
Avaliador-17     31
Avaliador-14     29
Avaliador-11     25
Avaliador-18     14
Avaliador-13     12
Avaliador-24     10
Name: count, dtype: int64

Rec Av1 NaN: 1156
Series([], Name: count, dtype: int64)

Avaliador2 NaN: 127
Avaliador2
Avaliador-13    125
Avaliador-2     105
Avaliador-23    104
Avaliador-26     95
Avaliador-19     74
Avaliador-24     71
Avaliador-17     55
Avaliador-5      45
Avaliador-3      45
Avaliador-20     44
Avaliador-16     41
Avaliador-21     41
Avaliador-25     40
Avaliador-11     34
Avaliador-22     33
Avaliador-15     24
Avaliador-18     22
Avaliador-7      16
Avaliador-1      15
Name: count, dtype: int64

Rec Av2 NaN: 1156
Series([], Name: count, dtype: int64)

Avaliador3 NaN: 363
Avaliador3
Avaliador-2     141
Avaliador-26    134
Avaliador-1     104
Avaliador-15     84
Avaliador-9      64
Avaliador-22     50
Avaliador-17     47
Avaliador-25     44
Avaliador-23     42
Avaliador-7      31
Avaliador-5      21
Avaliador-10     16
Avaliador-20     15
Name: count, dtype: int64

Avaliador4 NaN: 749
Avaliador4
Avaliador-5     94
Avaliador-26    76
Avaliador-2     71
Avaliador-1     68
Avaliador-10    39
Avaliador-7     28
Avaliador-23    12
Avaliador-17    10
Avaliador-15     9
Name: count, dtype: int64

Avaliador5 NaN: 1008
Avaliador5
Avaliador-7     60
Avaliador-5     44
Avaliador-26    16
Avaliador-10    15
Avaliador-25    13
Name: count, dtype: int64

Avaliador6 NaN: 1150
Avaliador6
Avaliador-26    6
Name: count, dtype: int64

IAA NaN: 102
IAA
10.0    122
9.0     119
9.5     109
9.2      91
8.8      91
8.5      87
8.3      81
7.5      71
8.0      67
9.6      59
7.9      54
7.1      21
0.0      20
7.4      13
6.7      11
7.0      10
6.9       5
8.4       4
5.8       4
6.3       4
6.8       3
6.2       3
6.4       2
5.3       1
3.5       1
4.6       1
Name: count, dtype: int64

IEG NaN: 0
IEG
0.0     109
10.0    105
9.5      62
9.8      49
9.3      49
       ...
3.3       1
4.4       1
3.5       1
3.2       1
2.9       1
Name: count, Length: 74, dtype: int64

IPS NaN: 102
IPS
7.5     529
6.3     170
5.6      73
2.5      58
8.1      57
6.9      53
8.8      27
5.0      23
9.4      19
4.4      14
3.8      12
6.6       8
10.0      5
7.2       4
3.1       1
5.9       1
Name: count, dtype: int64

IPP NaN: 102
IPP
7.5     200
8.1      85
6.9      65
7.8      62
8.4      54
7.7      51
7.2      48
7.3      48
8.3      39
8.8      38
8.0      34
7.9      32
6.3      29
7.1      21
6.6      21
7.0      18
6.7      17
5.6      16
8.5      15
9.1      12
6.4      12
9.0      11
7.6      11
9.4      10
8.6      10
9.2       9
8.9       8
5.8       8
6.5       7
5.9       7
6.8       6
5.0       6
6.0       6
5.3       4
7.4       4
6.1       3
8.2       3
9.7       2
4.6       2
4.2       2
4.8       2
10.0      2
9.5       2
5.4       2
9.6       2
3.4       1
5.2       1
4.7       1
5.5       1
2.5       1
5.1       1
4.1       1
3.5       1
Name: count, dtype: int64

Rec Psicologia NaN: 1156
Series([], Name: count, dtype: int64)

IDA NaN: 0
IDA
#DIV/0!    101
8,0         50
7,5         49
7,0         43
8,5         41
          ...
7,4          1
8,9          1
2,6          1
6,4          1
3,9          1
Name: count, Length: 66, dtype: int64

Mat NaN: 105
Mat
10.0    136
8.0     105
6.0     102
5.0      87
9.0      73
7.0      67
6.5      64
4.0      52
0.0      49
7.5      48
3.0      47
8.5      36
2.0      35
5.5      33
1.0      22
3.5      21
9.5      18
4.5      16
2.5      15
1.5       6
0.5       5
8.1       2
6.8       2
8.8       1
7.7       1
7.3       1
6.1       1
6.2       1
8.4       1
9.2       1
6.7       1
6.4       1
8.2       1
Name: count, dtype: int64

Por NaN: 106
Por
7.0     116
6.0     108
8.0      94
7.5      82
6.5      77
9.0      66
5.5      63
5.0      58
4.5      52
4.0      47
0.0      47
10.0     42
8.5      40
3.5      40
9.5      35
3.0      22
2.0      20
2.5      15
1.0       7
1.5       4
7.8       2
7.2       2
8.9       2
8.3       1
8.6       1
6.2       1
8.1       1
7.6       1
8.2       1
7.7       1
6.3       1
6.9       1
Name: count, dtype: int64

Ing NaN: 682
Ing
10.00    78
8.00     40
6.00     36
4.00     32
5.00     31
7.00     31
9.50     31
9.00     26
0.00     26
8.50     24
7.50     23
6.50     13
3.00     13
2.00     12
5.50     11
4.50     10
2.50      8
1.50      5
1.00      5
3.50      4
7.90      2
8.10      1
8.80      1
3.80      1
6.40      1
6.05      1
8.60      1
8.20      1
6.85      1
7.10      1
8.55      1
6.10      1
5.30      1
6.30      1
Name: count, dtype: int64

Indicado NaN: 1156
Series([], Name: count, dtype: int64)

Atingiu PV NaN: 1156
Series([], Name: count, dtype: int64)

IPV NaN: 102
IPV
7.5    98
7.8    48
7.9    47
8.3    45
8.2    44
       ..
3.2     1
2.9     1
3.8     1
3.0     1
3.1     1
Name: count, Length: 62, dtype: int64

IAN NaN: 0
IAN
10.0    622
5.0     531
2.5       3
Name: count, dtype: int64

Fase Ideal NaN: 0
Fase Ideal
Fase 2 (5¬∞ e 6¬∞ ano)       281
Fase 3 (7¬∞ e 8¬∞ ano)       233
Fase 1 (3¬∞ e 4¬∞ ano)       182
Fase 8 (Universit√°rios)    102
Fase 5 (1¬∞ EM)              96
Fase 4 (9¬∞ ano)             90
Fase 6 (2¬∞ EM)              70
Fase 7 (3¬∞ EM)              53
ALFA (1¬∞ e 2¬∞ ano)          49
Name: count, dtype: int64

Defasagem NaN: 0
Defasagem
 0    485
-1    441
 1    119
-2     90
 2     16
-3      3
 3      2
Name: count, dtype: int64

Destaque IEG NaN: 1156
Series([], Name: count, dtype: int64)

Destaque IDA NaN: 1156
Series([], Name: count, dtype: int64)

Destaque IPV NaN: 1156
Series([], Name: count, dtype: int64)

Escola NaN: 1
Escola
EE Donizetti Aparecido Leite Professor       109
EE Maria Andr√© Schunck Dona                  100
EE Dom Pedro Villas Boas de Souza             85
Col√©gio Arco √çris Evolu√ß√£o                    85
EE Helio Luiz Dobrochinski Prof               71
EE Jo√£o Ortiz Rodrigues                       60
EM Cecilia Cristina de Oliveira Rodrigues     59
EE Leonice de Aquino Oliveira                 52
EE Joaquim Mendes Feliz                       51
EE Paschoal Carlos Magno                      49
Universidade Santo Amaro (UNISA)              39
EE Alexandre Rodrigues Nogueira               38
EE Luiz Schunck                               36
EM Maria Ignez Concelles Irma Ines            32
EE Mario Francisco de Amorim                  25
EM Etelvina Delfim Sim√µes                     22
EE Olivia de Faria Nogueira                   19
EE Ch√°cara Florida II                         19
Faculdade (FIAP)                              16
EE Jardim Campestre                           16
EM Amanda Consuelo da Cunha                   15
Faculdade FIAP                                15
Bolsista Universit√°rio *Formado (a)           14
FIAP School - SP                              11
EE Loris Nassif Mattar Profa                  11
Estuda em outra cidade                        11
Col√©gio Albert Einstein - SP                  10
EM Pedro Antonio de Almeida                    8
EM Alfredo Schunk                              8
Concluiu o 3¬∫ EM                               7
Col√©gio Nogueira e Sonho de Crian√ßa            7
Rede Decis√£o - Unidade Uni√£o                   7
EE Francisco de Paula Teixeira                 4
Escola Jo√£o Paulo II                           4
ESPM                                           4
Jo√£o Friaza Col√©gio                            4
Recanto Bet√¢nia Centro Educacional             4
Col√©gio Poliedro - SP                          3
EE Jardim Silvania                             3
EE Levi Pereira Martins Professor              2
Universidade Est√°cio de S√°                     2
Universidade Anhembi Morumbi                   2
EE Bairro Boa Vista                            2
EM Bairro Lagoa Grande                         2
EE Neide Celestina de Oliveira Profa           1
Faculdades Oswaldo Cruz                        1
EM Juvenal Coutinho                            1
FGV                                            1
Col√©gio Albert Einstein                        1
Universidade Mackenzie                         1
INSPER                                         1
Col√©gio Franciscano Santa Clara                1
Universidade Cruzeiro do Sul                   1
Unicamp                                        1
EM Eurides Jos√© Amorim                         1
EE Neide Celestina de Oliveira                 1
Name: count, dtype: int64

Ativo/ Inativo NaN: 0
Ativo/ Inativo
Cursando    1156
Name: count, dtype: int64

Ativo/ Inativo.1 NaN: 0
Ativo/ Inativo.1
Cursando    1156
Name: count, dtype: int64

## üìå 3Ô∏è‚É£ Tratamento de Dados

### Padronizando nomes das colunas

In [18]:
df_2022 = df_2022.rename(columns={"Idade 22": "Idade", "INDE 22": "INDE", "Defas": "Defasagem", "Matem": "Mat", "Portug": "Por", "Fase ideal": "Fase Ideal", "Pedra 22": "Pedra" })
df_2022.columns

Index(['RA', 'Fase', 'Turma', 'Nome', 'Ano nasc', 'Idade', 'G√™nero',
       'Ano ingresso', 'Institui√ß√£o de ensino', 'Pedra 20', 'Pedra 21',
       'Pedra', 'INDE', 'Cg', 'Cf', 'Ct', 'N¬∫ Av', 'Avaliador1', 'Rec Av1',
       'Avaliador2', 'Rec Av2', 'Avaliador3', 'Rec Av3', 'Avaliador4',
       'Rec Av4', 'IAA', 'IEG', 'IPS', 'Rec Psicologia', 'IDA', 'Mat', 'Por',
       'Ingl√™s', 'Indicado', 'Atingiu PV', 'IPV', 'IAN', 'Fase Ideal',
       'Defasagem', 'Destaque IEG', 'Destaque IDA', 'Destaque IPV'],
      dtype='object')

In [19]:
df_2023 = df_2023.rename(columns={"INDE 2023": "INDE", "Pedra 2023": "Pedra"})
df_2023.columns

Index(['RA', 'Fase', 'INDE', 'Pedra', 'Turma', 'Nome Anonimizado',
       'Data de Nasc', 'Idade', 'G√™nero', 'Ano ingresso',
       'Institui√ß√£o de ensino', 'Pedra 20', 'Pedra 21', 'Pedra 22', 'Pedra 23',
       'INDE 22', 'INDE 23', 'Cg', 'Cf', 'Ct', 'N¬∫ Av', 'Avaliador1',
       'Rec Av1', 'Avaliador2', 'Rec Av2', 'Avaliador3', 'Rec Av3',
       'Avaliador4', 'Rec Av4', 'IAA', 'IEG', 'IPS', 'IPP', 'Rec Psicologia',
       'IDA', 'Mat', 'Por', 'Ing', 'Indicado', 'Atingiu PV', 'IPV', 'IAN',
       'Fase Ideal', 'Defasagem', 'Destaque IEG', 'Destaque IDA',
       'Destaque IPV', 'Destaque IPV.1'],
      dtype='object')

In [20]:
df_2024 = df_2024.rename(columns={"INDE 2024": "INDE", "Pedra 2024": "Pedra"})
df_2024.columns

Index(['RA', 'Fase', 'INDE', 'Pedra', 'Turma', 'Nome Anonimizado',
       'Data de Nasc', 'Idade', 'G√™nero', 'Ano ingresso',
       'Institui√ß√£o de ensino', 'Pedra 20', 'Pedra 21', 'Pedra 22', 'Pedra 23',
       'INDE 22', 'INDE 23', 'Cg', 'Cf', 'Ct', 'N¬∫ Av', 'Avaliador1',
       'Rec Av1', 'Avaliador2', 'Rec Av2', 'Avaliador3', 'Avaliador4',
       'Avaliador5', 'Avaliador6', 'IAA', 'IEG', 'IPS', 'IPP',
       'Rec Psicologia', 'IDA', 'Mat', 'Por', 'Ing', 'Indicado', 'Atingiu PV',
       'IPV', 'IAN', 'Fase Ideal', 'Defasagem', 'Destaque IEG', 'Destaque IDA',
       'Destaque IPV', 'Escola', 'Ativo/ Inativo', 'Ativo/ Inativo.1'],
      dtype='object')

### Considerando apenas algumas colunas comuns

In [21]:
df_2022 = df_2022[['Fase', 'Idade', 'G√™nero', 'Ano ingresso',
       'Pedra', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'Mat', 'Por', 'IPV', 'IAN',
       'Defasagem']]
df_2022.columns

Index(['Fase', 'Idade', 'G√™nero', 'Ano ingresso', 'Pedra', 'INDE', 'IAA',
       'IEG', 'IPS', 'IDA', 'Mat', 'Por', 'IPV', 'IAN', 'Defasagem'],
      dtype='object')

In [22]:
df_2023 = df_2023[['Fase', 'Idade', 'G√™nero', 'Ano ingresso',
       'Pedra', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'Mat', 'Por', 'IPV', 'IAN',
       'Defasagem']]
df_2023.columns

Index(['Fase', 'Idade', 'G√™nero', 'Ano ingresso', 'Pedra', 'INDE', 'IAA',
       'IEG', 'IPS', 'IDA', 'Mat', 'Por', 'IPV', 'IAN', 'Defasagem'],
      dtype='object')

In [23]:
df_2024 = df_2024[['Fase', 'Idade', 'G√™nero', 'Ano ingresso',
       'Pedra', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'Mat', 'Por', 'IPV', 'IAN',
       'Defasagem']]
df_2024.columns

Index(['Fase', 'Idade', 'G√™nero', 'Ano ingresso', 'Pedra', 'INDE', 'IAA',
       'IEG', 'IPS', 'IDA', 'Mat', 'Por', 'IPV', 'IAN', 'Defasagem'],
      dtype='object')

### Adicionando ano de refer√™ncia

In [24]:
df_2022["Ano"] = 2022

In [25]:
df_2023["Ano"] = 2023

In [26]:
df_2024["Ano"] = 2024

### Padronizando G√™nero

In [27]:
df_2022["G√™nero"] = df_2022["G√™nero"].replace({
    "Menina": "Feminino",
    "Menino": "Masculino"
})

In [28]:
df_2022["G√™nero"].value_counts()

G√™nero
Feminino     457
Masculino    403
Name: count, dtype: int64

### Tratando valores ausentes

In [29]:
df_2022.isna().sum()

Fase            0
Idade           0
G√™nero          0
Ano ingresso    0
Pedra           0
INDE            0
IAA             0
IEG             0
IPS             0
IDA             0
Mat             2
Por             2
IPV             0
IAN             0
Defasagem       0
Ano             0
dtype: int64

In [30]:
df_2022 = df_2022.dropna()
df_2022.isna().sum()

Fase            0
Idade           0
G√™nero          0
Ano ingresso    0
Pedra           0
INDE            0
IAA             0
IEG             0
IPS             0
IDA             0
Mat             0
Por             0
IPV             0
IAN             0
Defasagem       0
Ano             0
dtype: int64

In [31]:
df_2023.isna().sum()

Fase             0
Idade            0
G√™nero           0
Ano ingresso     0
Pedra           82
INDE            82
IAA             63
IEG             76
IPS             69
IDA             76
Mat             77
Por             77
IPV             76
IAN              0
Defasagem        0
Ano              0
dtype: int64

In [32]:
df_2023 = df_2023.dropna()
df_2023.isna().sum()

Fase            0
Idade           0
G√™nero          0
Ano ingresso    0
Pedra           0
INDE            0
IAA             0
IEG             0
IPS             0
IDA             0
Mat             0
Por             0
IPV             0
IAN             0
Defasagem       0
Ano             0
dtype: int64

In [33]:
df_2023 = df_2023[df_2023['INDE'] != "#DIV/0!"].reset_index(drop=True)
df_2023.shape

(931, 16)

In [34]:
df_2024.isna().sum()

Fase              0
Idade             0
G√™nero            0
Ano ingresso      0
Pedra             1
INDE              1
IAA             102
IEG               0
IPS             102
IDA               0
Mat             105
Por             106
IPV             102
IAN               0
Defasagem         0
Ano               0
dtype: int64

In [35]:
df_2024 = df_2024.dropna()
df_2024.isna().sum()

Fase            0
Idade           0
G√™nero          0
Ano ingresso    0
Pedra           0
INDE            0
IAA             0
IEG             0
IPS             0
IDA             0
Mat             0
Por             0
IPV             0
IAN             0
Defasagem       0
Ano             0
dtype: int64

In [36]:
df_2024.shape

(1045, 16)

### Tratando e convertendo dados numericos

In [37]:
df_2023["Idade"] = df_2023["Idade"].str.replace(r"^1/", "", regex=True)  # Remove "1/" at the beginning
df_2023["Idade"] = df_2023["Idade"].str.replace(r"/1900$", "", regex=True)  # Remove "/1900" at the end

df_2023["Idade"] = pd.to_numeric(df_2023["Idade"], errors="coerce")
df_2023["Idade"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 931 entries, 0 to 930
Series name: Idade
Non-Null Count  Dtype
--------------  -----
931 non-null    int64
dtypes: int64(1)
memory usage: 7.4 KB

In [38]:
df_2023['INDE'] = pd.to_numeric(df_2023['INDE'].str.replace(",", "."))
df_2023['INDE'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 931 entries, 0 to 930
Series name: INDE
Non-Null Count  Dtype
--------------  -----
931 non-null    float64
dtypes: float64(1)
memory usage: 7.4 KB

In [39]:
df_2023['IPS'] = pd.to_numeric(df_2023['IPS'].str.replace(",", "."))
df_2023['IPS'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 931 entries, 0 to 930
Series name: IPS
Non-Null Count  Dtype
--------------  -----
931 non-null    float64
dtypes: float64(1)
memory usage: 7.4 KB

In [40]:
df_2023['IDA'] = pd.to_numeric(df_2023['IDA'].str.replace(",", "."))
df_2023['IDA'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 931 entries, 0 to 930
Series name: IDA
Non-Null Count  Dtype
--------------  -----
931 non-null    float64
dtypes: float64(1)
memory usage: 7.4 KB

In [41]:
df_2024['INDE'].value_counts()

INDE
8,3792         2
7,8262         2
7,611366667    1
6,735998246    1
7,429623555    1
              ..
7,034537945    1
7,540235088    1
7,946388312    1
8,119860173    1
7,7887         1
Name: count, Length: 1043, dtype: int64

In [42]:
df_2024[(df_2024['INDE'] == "#DIV/0!") | (df_2024['INDE'] == "INCLUIR")]

Empty DataFrame
Columns: [Fase, Idade, G√™nero, Ano ingresso, Pedra, INDE, IAA, IEG, IPS, IDA, Mat, Por, IPV, IAN, Defasagem, Ano]
Index: []

In [43]:
df_2024['INDE'] = pd.to_numeric(df_2024['INDE'].str.replace(",", "."))
df_2024['INDE'].info()

<class 'pandas.core.series.Series'>
Index: 1045 entries, 0 to 1053
Series name: INDE
Non-Null Count  Dtype
--------------  -----
1045 non-null   float64
dtypes: float64(1)
memory usage: 16.3 KB

In [44]:
df_2024['IDA'] = pd.to_numeric(df_2024['IDA'].str.replace(",", "."))
df_2024['IDA'].info()

<class 'pandas.core.series.Series'>
Index: 1045 entries, 0 to 1053
Series name: IDA
Non-Null Count  Dtype
--------------  -----
1045 non-null   float64
dtypes: float64(1)
memory usage: 16.3 KB

### Padronizando Fase

In [45]:
def fase23_to_num(val):
    if val == 'ALFA':
        return 0
    else:
        return int(val.split(' ')[1])

df_2023['Fase'] = df_2023['Fase'].apply(fase23_to_num)
df_2023['Fase'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 931 entries, 0 to 930
Series name: Fase
Non-Null Count  Dtype
--------------  -----
931 non-null    int64
dtypes: int64(1)
memory usage: 7.4 KB

In [46]:
def fase24_to_num(val):
    if val == 'ALFA':
        return 0 
    else:
        return int(''.join(filter(str.isdigit, val)))
df_2024['Fase'] = df_2024['Fase'].apply(fase24_to_num)
df_2024['Fase'].info()

<class 'pandas.core.series.Series'>
Index: 1045 entries, 0 to 1053
Series name: Fase
Non-Null Count  Dtype
--------------  -----
1045 non-null   int64
dtypes: int64(1)
memory usage: 16.3 KB

### Concatenando os tr√™s dataframes em um √∫nico

In [47]:
df_final = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)
df_final.head()

,Fase,Idade,G√™nero,Ano ingresso,Pedra,INDE,IAA,IEG,IPS,IDA,Mat,Por,IPV,IAN,Defasagem,Ano
0,7,19,Feminino,2016,Quartzo,5.783,8.3,4.1,5.6,4.0,2.7,3.5,7.278,5.0,-1,2022
1,7,17,Feminino,2017,Ametista,7.055,8.8,5.2,6.3,6.8,6.3,4.5,6.778,10.0,0,2022
2,7,17,Feminino,2016,√Ågata,6.591,0.0,7.9,5.6,5.6,5.8,4.0,7.556,10.0,0,2022
3,7,17,Masculino,2017,Quartzo,5.951,8.8,4.5,5.6,5.0,2.8,3.5,5.278,10.0,0,2022
4,7,17,Feminino,2016,Ametista,7.427,7.9,8.6,5.6,5.2,7.0,2.9,7.389,10.0,0,2022

In [48]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834 entries, 0 to 2833
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fase          2834 non-null   int64
 1   Idade         2834 non-null   int64
 2   G√™nero        2834 non-null   object
 3   Ano ingresso  2834 non-null   int64
 4   Pedra         2834 non-null   object
 5   INDE          2834 non-null   float64
 6   IAA           2834 non-null   float64
 7   IEG           2834 non-null   float64
 8   IPS           2834 non-null   float64
 9   IDA           2834 non-null   float64
 10  Mat           2834 non-null   float64
 11  Por           2834 non-null   float64
 12  IPV           2834 non-null   float64
 13  IAN           2834 non-null   float64
 14  Defasagem     2834 non-null   int64
 15  Ano           2834 non-null   int64
dtypes: float64(9), int64(5), object(2)
memory usage: 354.4+ KB

In [49]:
df_final.isna().sum()

Fase            0
Idade           0
G√™nero          0
Ano ingresso    0
Pedra           0
INDE            0
IAA             0
IEG             0
IPS             0
IDA             0
Mat             0
Por             0
IPV             0
IAN             0
Defasagem       0
Ano             0
dtype: int64

In [50]:
for col in df_final.select_dtypes(include=["object"]).columns:
    print(f"{df_final[col].value_counts()}")
    print()

G√™nero
Feminino     1512
Masculino    1322
Name: count, dtype: int64

Pedra
Ametista    1119
Top√°zio      687
Agata        467
Quartzo      311
√Ågata        250
Name: count, dtype: int64

## üìå 4Ô∏è‚É£ Codifica√ß√£o de Vari√°veis Categ√≥ricas (Corre√ß√£o de Tipos)

In [52]:
#  categorias sem rela√ß√£o de ordem com poucos valores
df_final = pd.get_dummies(df_final, columns=['G√™nero'])
df_final

,Fase,Idade,Ano ingresso,Pedra,INDE,IAA,IEG,IPS,IDA,Mat,Por,IPV,IAN,Defasagem,Ano,G√™nero_Feminino,G√™nero_Masculino
0,7,19,2016,Quartzo,5.783000,8.3,4.1,5.6,4.0,2.7,3.5,7.278,5.0,-1,2022,True,False
1,7,17,2017,Ametista,7.055000,8.8,5.2,6.3,6.8,6.3,4.5,6.778,10.0,0,2022,True,False
2,7,17,2016,√Ågata,6.591000,0.0,7.9,5.6,5.6,5.8,4.0,7.556,10.0,0,2022,True,False
3,7,17,2017,Quartzo,5.951000,8.8,4.5,5.6,5.0,2.8,3.5,5.278,10.0,0,2022,False,True
4,7,17,2016,Ametista,7.427000,7.9,8.6,5.6,5.2,7.0,2.9,7.389,10.0,0,2022,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,7,15,2022,Ametista,7.931967,8.8,9.7,6.3,6.2,6.0,6.5,7.500,10.0,2,2024,False,True
2830,7,18,2021,Ametista,7.611233,6.7,9.7,6.6,5.5,6.4,6.3,7.500,10.0,0,2024,False,True
2831,7,15,2021,Ametista,7.449367,10.0,9.9,6.9,2.6,0.0,0.0,7.500,10.0,2,2024,False,True
2832,7,16,2021,Top√°zio,8.243183,8.3,9.2,6.6,8.3,8.2,7.8,7.500,10.0,1,2024,False,True
2833,7,15,2021,Ametista,7.788700,7.5,9.6,5.9,6.4,6.0,6.9,7.500,10.0,2,2024,False,True

In [53]:
#  categorias sem rela√ß√£o de ordem
le = LabelEncoder()
df_final['Pedra'] = le.fit_transform(df_final['Pedra'])
df_final

,Fase,Idade,Ano ingresso,Pedra,INDE,IAA,IEG,IPS,IDA,Mat,Por,IPV,IAN,Defasagem,Ano,G√™nero_Feminino,G√™nero_Masculino
0,7,19,2016,2,5.783000,8.3,4.1,5.6,4.0,2.7,3.5,7.278,5.0,-1,2022,True,False
1,7,17,2017,1,7.055000,8.8,5.2,6.3,6.8,6.3,4.5,6.778,10.0,0,2022,True,False
2,7,17,2016,4,6.591000,0.0,7.9,5.6,5.6,5.8,4.0,7.556,10.0,0,2022,True,False
3,7,17,2017,2,5.951000,8.8,4.5,5.6,5.0,2.8,3.5,5.278,10.0,0,2022,False,True
4,7,17,2016,1,7.427000,7.9,8.6,5.6,5.2,7.0,2.9,7.389,10.0,0,2022,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,7,15,2022,1,7.931967,8.8,9.7,6.3,6.2,6.0,6.5,7.500,10.0,2,2024,False,True
2830,7,18,2021,1,7.611233,6.7,9.7,6.6,5.5,6.4,6.3,7.500,10.0,0,2024,False,True
2831,7,15,2021,1,7.449367,10.0,9.9,6.9,2.6,0.0,0.0,7.500,10.0,2,2024,False,True
2832,7,16,2021,3,8.243183,8.3,9.2,6.6,8.3,8.2,7.8,7.500,10.0,1,2024,False,True
2833,7,15,2021,1,7.788700,7.5,9.6,5.9,6.4,6.0,6.9,7.500,10.0,2,2024,False,True

In [54]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834 entries, 0 to 2833
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fase              2834 non-null   int64
 1   Idade             2834 non-null   int64
 2   Ano ingresso      2834 non-null   int64
 3   Pedra             2834 non-null   int64
 4   INDE              2834 non-null   float64
 5   IAA               2834 non-null   float64
 6   IEG               2834 non-null   float64
 7   IPS               2834 non-null   float64
 8   IDA               2834 non-null   float64
 9   Mat               2834 non-null   float64
 10  Por               2834 non-null   float64
 11  IPV               2834 non-null   float64
 12  IAN               2834 non-null   float64
 13  Defasagem         2834 non-null   int64
 14  Ano               2834 non-null   int64
 15  G√™nero_Feminino   2834 non-null   bool
 16  G√™nero_Masculino  2834 non-null   bool
dtypes: bool(2), float64(9), int64(6)
memory usage: 337.8 KB

## üìå 5Ô∏è‚É£ Sele√ß√£o de Features e Defini√ß√£o do Target

In [55]:
X = df_final.drop(columns=["IPV"])  # Removendo vari√°vel alvo
y = df_final["IPV"]

# Dividir os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normaliza√ß√£o das Features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [56]:
X

,Fase,Idade,Ano ingresso,Pedra,INDE,IAA,IEG,IPS,IDA,Mat,Por,IAN,Defasagem,Ano,G√™nero_Feminino,G√™nero_Masculino
0,7,19,2016,2,5.783000,8.3,4.1,5.6,4.0,2.7,3.5,5.0,-1,2022,True,False
1,7,17,2017,1,7.055000,8.8,5.2,6.3,6.8,6.3,4.5,10.0,0,2022,True,False
2,7,17,2016,4,6.591000,0.0,7.9,5.6,5.6,5.8,4.0,10.0,0,2022,True,False
3,7,17,2017,2,5.951000,8.8,4.5,5.6,5.0,2.8,3.5,10.0,0,2022,False,True
4,7,17,2016,1,7.427000,7.9,8.6,5.6,5.2,7.0,2.9,10.0,0,2022,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,7,15,2022,1,7.931967,8.8,9.7,6.3,6.2,6.0,6.5,10.0,2,2024,False,True
2830,7,18,2021,1,7.611233,6.7,9.7,6.6,5.5,6.4,6.3,10.0,0,2024,False,True
2831,7,15,2021,1,7.449367,10.0,9.9,6.9,2.6,0.0,0.0,10.0,2,2024,False,True
2832,7,16,2021,3,8.243183,8.3,9.2,6.6,8.3,8.2,7.8,10.0,1,2024,False,True
2833,7,15,2021,1,7.788700,7.5,9.6,5.9,6.4,6.0,6.9,10.0,2,2024,False,True

In [57]:
y

0       7.278
1       6.778
2       7.556
3       5.278
4       7.389
        ...
2829    7.500
2830    7.500
2831    7.500
2832    7.500
2833    7.500
Name: IPV, Length: 2834, dtype: float64

In [58]:
y.value_counts()

IPV
7.500000    156
7.800000     48
7.900000     47
7.000000     47
8.500000     45
           ...
7.233333      1
9.116667      1
6.940000      1
7.336667      1
3.100000      1
Name: count, Length: 595, dtype: int64

# üìå 6Ô∏è‚É£ Treinamento do Modelo

In [62]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [63]:
# Fazer previs√µes
y_pred = model.predict(X_test)

# üìå 7Ô∏è‚É£ Avalia√ß√£o do Modelo

In [ ]:
# Avaliar o modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Acur√°cia do modelo: {accuracy:.4f}")

print("Relat√≥rio de Classifica√ß√£o:")
print(classification_report(y_test, y_pred))

In [ ]:
conf_matrix = confusion_matrix(y_test, y_pred)
sns.heatmap(conf_matrix, annot=True, fmt="d", cmap="Blues", xticklabels=["N√£o Atingiu", "Atingiu"], yticklabels=["N√£o Atingiu", "Atingiu"])
plt.xlabel("Previsto")
plt.ylabel("Real")
plt.title("Matriz de Confus√£o")
plt.show()

In [ ]:
importances_atingiu_pv = model.feature_importances_
importances_atingiu_pv

In [ ]:
df_feature_importance_atingiu_pv = pd.DataFrame({
    'Feature': X.columns,
    'Importance': importances_atingiu_pv
}).sort_values(by='Importance', ascending=False)
df_feature_importance_atingiu_pv

In [ ]:
plt.figure(figsize=(12, 10))
sns.barplot(x=df_feature_importance_atingiu_pv["Importance"], y=df_feature_importance_atingiu_pv["Feature"], palette="viridis")
plt.title("Import√¢ncia das Features - Random Forest (Previs√£o do Atingiu PV)")
plt.xlabel("Import√¢ncia")
plt.ylabel("Vari√°vel")
plt.show()

In [ ]:
X.columns

## üìå Treinamento com a API Nativa do XGBoost

In [ ]:
# Converter os dados para o formato DMatrix do XGBoost
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

In [ ]:
# Par√¢metros do modelo XGBoost
params = {
    "objective": "binary:logistic",  # Classifica√ß√£o bin√°ria
    "eval_metric": "logloss",       # M√©trica de avalia√ß√£o
    "max_depth": 6,                 # Profundidade m√°xima da √°rvore
    "eta": 0.1,                     # Taxa de aprendizado
    "seed": 42                      # Aleatoriedade
}

In [ ]:
# Treinamento do modelo
xgb_model = xgb.train(
    params=params,
    dtrain=dtrain,
    num_boost_round=100  # N√∫mero de itera√ß√µes (√°rvores)
)

In [ ]:
# Fazer previs√µes
y_pred_prob = xgb_model.predict(dtest)  # Probabilidades
y_pred = [1 if prob > 0.5 else 0 for prob in y_pred_prob]  # Convertendo para classes

In [ ]:
# Avaliar o modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Acur√°cia do modelo XGBoost: {accuracy:.4f}")

In [ ]:
print("Relat√≥rio de Classifica√ß√£o (XGBoost):")
print(classification_report(y_test, y_pred))

In [ ]:
conf_matrix = confusion_matrix(y_test, y_pred)
conf_matrix

In [ ]:
sns.heatmap(conf_matrix, annot=True, fmt="d", cmap="Blues", xticklabels=["N√£o Atingiu", "Atingiu"], yticklabels=["N√£o Atingiu", "Atingiu"])
plt.xlabel("Previsto")
plt.ylabel("Real")
plt.title("Matriz de Confus√£o (XGBoost - Nativo)")
plt.show()